<h1>Pages#answer</h1>

<p>Find me in app/views/pages/answer.html.erb</p>

<h4>You asked:</h4>
<h4><%= @question %></h4>

<h4>Coach responded:</h4>
<h4><%= @answer %></h4>

<%= link_to "ask another question", ask_path%>
<!-- /answer because the action has to refer to a page  -->