<head>
<link rel="stylesheet" type="text/css" href="application.css">
</head>
<div id = "header"> <h4>Speak to your coach</h4></div >
<form action ='/answer' method="get">
  <label for="question"> </label>
  <div id = "input_type"><input type = "text" id="question" name="question" placeholder="what time is it?"></div>
  <div id = "value"><input type="submit" value="Go on"></div>
</form>
<!-- <form action ='/ask' method="post">
  <label for="question">Speak to your coach</label>
  <input type = "text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on">
</form> -->
<p>Find me in app/views/pages/ask.html.erb</p>
